.right-side-container {
  &-header {
    display: flex;

    &-left {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-heading-1 {
        margin: 0px;
        font-size: 24px;
        font-weight: 700;
      }

      &-heading-2 {
        font-size: 10px;
      }
    }
  }

  &-contents-1 {
    &-content {
      display: flex;
      justify-content: space-between;

      &-details {
        display: flex;
        flex-direction: column;

        &-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 1px solid lightgray;
          border-radius: 4px;

          &-text {
            margin: revert;
            color: gray;
          }
        }
      }
    }
  }

  &-contents-2 {
    &-no-components {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &-icon {
        width: 100%;
      }

      &-content-1 {
        display: block;
        font-weight: 700;
      }

      &-content-2 {
        display: block;
        margin: 0px;
        font-size: 12px;
      }

      &-content-3 {
        display: block;
        margin: 0px;
        font-size: 12px;
      }
    }

    &-components {
      &-contents {
        display: flex;
        flex-direction: column;

        &-first {
          display: flex;
          justify-content: space-between;
          height: 32px;
        }

        &-second {
          &-name {
            border: 1px solid lightgray;
            border-radius: 4px;
            padding-left: 16px;
            height: 28px;
          }
        }
      }
    }
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .MuiSvgIcon-root {
    font-size: 4.5rem;
    fill: lightgray;
  }

  .modal-text-1 {
    font-weight: 700;
    margin-top: 40px;
  }

  .modal-text-2 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
